<section class="panel panel-default">
    <div class="panel-heading">
        <h4>Create a new car</h4>
    </div>
    <div class="panel-body">
        <form action="/cars" method="post">
            <div class="form-group">
                <input type="text" name="driver_name" class="form-control" placeholder="Driver name">
            </div>
            <div class="form-group">
                <input type="text" name="license_plate" class="form-control" placeholder="License Plate">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success">
            </div>
        </form>
    </div>
</section>