<section class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">Register</h4>
    </div>
    <div class="panel-body">
        <form action="">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
</section>